h1
{
  color: orange;
}

.card h3 {
	font-size: 25px !important;
}
.card p {
	font-size: 15px !important;
}
.container {
	margin-top: 100px !important;
	margin-bottom: 45px !important;
}