{% extends 'base.html'%}
{% load bootstrap3%}
{%block content%}



{% for image in project %}

<div class="container">
    <div class="card">
        <div class="row">
                <div class="col-lg-8">
                    <img src="{{image.projimage.url}}" class="img-responsive" alt="">                    
                </div>
                <div class="col-lg-4">
                        <h3><a href="{% url 'project' image.id %}">{{ image.title }}</a></h3>
                        <p>{{image.description|truncatechars:500 | safe}} </p>
                        <p>Link: {{ image.link }} </p>
                        <p>Link: {{ image.editor }} </p>

                </div>
        </div>
        <div class="card-footer">
            <p><small>{{ image.pub_date }}</small></p>
        </div>
    </div>

     <div class="row">

        <h3>Comments:</h3>
        <hr>

         <ul class="list-group">
  <li class="list-group-item list-group-item-info">
    {{comments.comments_id}}
    <br><br>
  </li>
</ul>

        <hr>

       

        <a class="btn btn-success btn-lg text-center" href="{% url 'new_comment' %}" style="margin-bottom: 150px"> Write a new Comment</a>
        

    </div>
</div>
    
    <hr>


{% empty %}
  <div class="row">
    <h2 class="text-center">There are No Projects Posted yet</h2>
  </div>
{% endfor %}



{% endblock%}
